ion-card {
    margin-bottom: 15px;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-card-header {
    background-color: #f4f4f4;
  }
  
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-list-header {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  ion-label {
    font-size: 14px;
  }
  