ion-header {
    background-color: #ffffff;

    ion-toolbar {
        --background: #f8f9fa;
        display: flex; /* Utilizamos flexbox para centrar los elementos */
        justify-content: center; /* Centra el título */
        align-items: center; /* Alinea el título verticalmente */

        ion-title {
            color: #000000;
            font-size: 1.5rem;
            text-align: center;
            position: absolute; /* El título se posiciona de manera absoluta */
            left: 50%; /* Centrado horizontalmente */
            transform: translateX(-50%); /* Alineación perfecta */
        }

        ion-back-button {
            color: #003366;
            position: absolute; /* Posicionamos el botón a la izquierda */
            left: 0; /* Asegura que el botón esté en la esquina izquierda */
        }
    }
}

ion-content {
    background: #003366;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Elementos alineados desde la parte superior */
    align-items: center;
    padding: 20px;
    min-height: 100vh;

    picture {
        display: block;
        text-align: center;
        margin-top: 60px; /* Asegura que el logo esté más abajo */
        margin-bottom: 40px; /* Separación con los inputs */
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 220px; /* Tamaño del logo aumentado */
        height: auto;
    }

    ion-item {
        width: 100%;
        max-width: 400px;
        background-color: #ffffff;
        border-radius: 8px;
        margin-bottom: 20px;

        ion-label {
            color: #003366;
            font-size: 1.1rem;
            font-family: 'Verdana', sans-serif;
        }

        ion-input {
            color: #003366;
        }
    }

    ion-button {
        --background: #f0db4f;
        --color: #003366;
        font-size: 1.2rem;
        text-transform: uppercase;
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
        border-radius: 8px;
    }
}
