<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <picture>
    <source srcset="assets/images/Logo_DuocUC-copia.webp" type="image/webp">
    <img src="src\assets\images\Logo_DuocUC - copia.svg" alt="Duoc UC Logo" class="logo">
  </picture>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>

  <ion-button (click)="recuperarContrasena()" expand="block">Recuperar</ion-button>
</ion-content>